@charset "UTF-8";

/* リセットCSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* リセットCSS */



.wf-sawarabimincho {
    font-family: "Sawarabi Mincho";
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

p,
h2,
li,
th,
td {
    color: #000;
    font-family: 'Schoolbell', cursive, "Sawarabi Mincho";
}

p {
    font-size: 12px;
}

top {
    position: relative;
}


h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
}

@media screen and (min-width:550px) {

    /* ナビゲーション */

    .icons{
        display: none;
    }

    nav {
        width: 100%;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: inline-block;
        padding: 30px 30px 30px 30px;
    }

    nav ul li a {
        text-decoration: none;
        font-family: 'Schoolbell', cursive;
        font-size: 30px;
        color: #000;
        text-shadow: 6px 6px 0px gold;
    }

    nav ul li a {
        color: #000;
        font-size: 30px;
        text-shadow: 0px 0px 0px gold;
        transition: 0.3s ease color;
        -moz-transition: 0.3s ease text-shadow;
        -ms-transition: 0.3s ease text-shadow;
        -o-transition: 0.3s ease text-shadow;
        -webkit-transition: 0.3s ease text-shadow;
    }

    nav ul li a:hover {
        color: #000;
        text-shadow: 6px 6px 0px gold;
    }


    /* ファーストビュー */
    h1 img {
        vertical-align: bottom;
    }

    #example p {
        font-family: 'Schoolbell', cursive;
        font-size: 60px;
        color: #000;
        margin: -200px 0 200px 900px;

    }

    /* プロフィール */
    #profile {
        position: relative;
        margin-bottom: 500px;
    }

    #profile h2 {
        font-size: 55px;
        margin: 100px 0 40px 280px;
    }

    #left1 img {
        position: absolute;
        margin-left: 300px;
        margin-top: 20px;
        border: 3.5px #ffd966 solid;
    }

    #right1 {
        position: absolute;
        margin-left: 680px;
    }

    #name1 {
        font-size: 25px;
        margin-bottom: -30px;
    }

    #name2 {
        font-size: 35px;
        margin-bottom: 5px;
    }

    pro {
        text-align: center;
    }

    th,
    td {
        font-size: 25px;
    }

    /* ワーク */
    #work h2 {
        font-size: 55px;
        margin: 100px 0 10px 280px;
    }

    #hakkason {
        background-color: #3b3838;
        width: 100%;
        height: 500px;
        padding: 20px 200px;
        position: relative;
    }

    #event1 {
        position: absolute;
        width: 600px;
    }

    #contents1 p {
        position: absolute;
        width: 500px;
        margin-top: 30px;
        margin-left: 620px;
        font-size: 40px;
        color: #ffd966;
    }

    #contents2 p {
        position: absolute;
        width: 260px;
        margin-top: 100px;
        margin-left: 670px;
        font-size: 14.5px;
    }

    #members {
        background-color: #3b3838;
        width: 100%;
        height: 500px;
        padding: 20px 200px;
        margin-top: 70px;
    }

    #event2 {
        position: absolute;
        width: 600px;
        margin-left: 480px;
    }

    #contents3 p {
        position: absolute;
        width: 500px;
        margin-top: 40px;
        margin-left: 75px;
        font-size: 40px;
        color: #ffd966;
    }

    #contents4 p {
        position: absolute;
        width: 260px;
        margin-top: 120px;
        margin-left: 100px;
        font-size: 14.5px;
    }

    /* コンタクト */
    #contact {
        position: relative;
    }

    #contact h2 {
        font-size: 55px;
        margin: 100px 0 10px 280px;
    }

    label {
        font-size: 20px;
    }

    #Cname {
        position: absolute;
        margin-left: 350px;
        font-family: 'Schoolbell', cursive;
        color: #000;
    }

    #Cmail {
        position: absolute;
        margin-left: 200px;
        margin-top: -44px;
    }

    #sub {
        position: absolute;
        width: 500px;
        margin-left: 435px;
        margin-top: -255px;
    }

    #sub p {
        font-size: 17px;
    }

    #SNS {
        margin-left: 520px;
        margin-top: -55px;
    }

    /* フッター */

    footer {
        background-color: #ffd966;
        width: 100%;
        height: 200px;
        margin-top: 400px;
    }

    #apple {
        position: absolute;
        margin: 20px 0 20px 650px;
    }

    footer ul {
        list-style: none;
        overflow: hidden;
        position: absolute;
        margin: 0 0 5px 405px;
        margin-top: 100px;
    }

    footer ul li {
        display: inline-block;
        padding-left: 30px;
    }

    footer ul li a {
        text-decoration: none;
        font-family: 'Schoolbell', cursive;
        font-size: 25px;
        color: #ffffff;
    }

    footer p {
        position: absolute;
        margin: 150px 0 0 590px;
        font-size: 15px;
    }

    /* トップへ戻る */
    #pagetop {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: none;
    }

    #topwarp {
        position: fixed;
        bottom: 30px;
        right: 15px;
        z-index: 999;
    }

}

@media screen and (min-width:100px) and (max-width:550px) {
    /* 550px ~ 100pxで適用する内容 */

    h2 {
        margin: 90px 0 30px 0;
    }

    /* ナビゲーション */

    nav {
        display: none;
    }

    .base {
        z-index: 90;
        position: fixed;
        background-color: #EAEAEA;
        top: 0px;
        left: 0px;
        width: 98px;
        height: 98px;
        transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1);
        border-bottom-right-radius: 100%;
    }

    .base .menu {
        z-index: 100;
        position: absolute;
        background-color: #fff;
        top: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
        border-bottom-right-radius: 200px;
        cursor: pointer;
        transition: all 1s cubic-bezier(0.5, -0.75, 0.05, 1), background-color 1s ease;
    }

    body .base .menu .icon {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -100%);
    }

    body .base .menu .icon:before,
    body .base .menu .icon:after {
        content: "";
        transform: rotate(0deg);
        transition: top 0.5s ease 0.5s, transform 0.5s ease, background-color 0.75s ease 0.25s;
    }

    body .base .menu .icon .bar,
    .base .menu .icon:before,
    body .base .menu .icon:after {
        position: absolute;
        height: 3px;
        left: 0px;
        right: 0px;
        border-radius: 5px;
        background-color: #000000;
    }

    body .base .menu .icon .bar {
        transition: opacity 0s linear 0.5s, background-color 0.75s ease 0.25s;
        opacity: 1;
        top: 10px;
    }

    body .base .menu .icon:before {
        top: 0px;
    }

    body .base .menu .icon:after {
        top: initial;
        top: 20px;
    }

    body .base .icons {
        z-index: 98;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    body .base .icons>* {
        position: absolute;
        color: #333;
        transition: 0.3s cubic-bezier(0.5, -0.25, 0.05, 1);
    }

    body .base .icons .fa-user {
        margin: 0 0 0 -20px;
        transition-delay: 0.1s;
        font-family: 'Schoolbell', cursive, "Sawarabi Mincho";
    }

    body .base .icons .fa-calendar-o {
        margin: 0 0 0 -10px;
        transition-delay: 0.1s;
        font-family: 'Schoolbell', cursive, "Sawarabi Mincho";
    }

    body .base .icons .fa-tachometer {
        margin: 0 0 0 -20px;
        font-family: 'Schoolbell', cursive, "Sawarabi Mincho";
    }

    body .base .section {
        z-index: 96;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 0px;
        width: 0px;
        transform-origin: 100% 100%;
        transform: rotate(135deg);
    }

    body .base .section .cover1 {
        transform-origin: 100% 100%;
    }

    body .base .section .cover1,
    body .base .section .cover1 .cover2,
    body .base .section .cover1 .cover2 .content {
        position: absolute;
        width: 600px;
        height: 600px;
    }

    body .base .section .cover1,
    body .base .section .cover1 .cover2 {
        top: 50%;
        left: 50%;
        transform: translate(-100%, -100%) rotate(4deg);
        overflow: hidden;
        pointer-events: none;
        transition: transform 0.5s ease-in;
    }

    body .base .section .cover1 .cover2 {
        transform: translate(50%, -50%) rotate(-8deg);
        transform-origin: 0% 100%;
    }

    body .base .section .cover1 .cover2 .content {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        top: 100%;
        left: 0%;
        transform: translate(-50%, -50%);
        transition: background-color 0s, width 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s, height 1.5s cubic-bezier(0.5, -0.5, 0.05, 1) 0s;
        pointer-events: auto;
    }

    body .base .section-static {
        z-index: 94;
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0px;
        left: 0px;
        transform-origin: 0% 0%;
        transition: width 1s cubic-bezier(0.5, -0.75, 0.05, 1), height 1s cubic-bezier(0.5, -0.75, 0.05, 1);
    }

    body .base .section-static:hover {
        background-color: #EAEAEA;
    }

    body .base .section-static.top {
        transform: rotate(-45deg);
        border-bottom-right-radius: 400px;
    }

    body .base .section-static.bottom {
        transform: rotate(45deg);
        border-bottom-right-radius: 400px;
    }

    body .base.close {
        width: 300px;
        height: 300px;
        transition: all 1.25s cubic-bezier(0.5, 0, 0.05, 1.75);
    }

    body .base.close .menu {
        width: 150px;
        height: 150px;
        transition: all 1s cubic-bezier(0.5, 0, 0.05, 1.75), background-color 1s ease;
        background-color: #333333;
    }

    body .base.close .menu .icon .bar,
    body .base.close .menu .icon:before,
    body .base.close .menu .icon:after {
        background-color: #FFFFFF;
    }

    body .base.close .menu .icon .bar {
        opacity: 0;
    }

    body .base.close .menu .icon:before,
    body .base.close .menu .icon:after {
        transition: top 0.5s linear, transform 0.5s ease 0.5s, background-color 0.75s ease 0.25s;
    }

    body .base.close .menu .icon:before {
        top: 10px;
        transform: rotate(-45deg);
    }

    body .base.close .menu .icon:after {
        top: 10px;
        transform: rotate(45deg);
    }

    body .base.close .icons {
        position: absolute;
        top: 0px;
        left: 0px;
    }

    body .base.close .icons>* {
        position: absolute;
        font-size: 40px;
        color: #21264B;
        transition: 0.3s cubic-bezier(0.5, 0, 0.05, 1.75) 0.7s;
        pointer-events: none;
    }

    body .base.close .icons .fa-user {
        top: 35px;
        left: 200px;
        font-size: 30px;
    }

    body .base.close .icons .fa-calendar-o {
        top: 141px;
        left: 141px;
        color: #21264B;
        transition-delay: 0.65s;
        font-size: 30px;
    }

    body .base.close .icons .fa-tachometer {
        top: 200px;
        left: 35px;
        transition-delay: 0.8s;
        font-size: 30px;
    }

    body .base.close .section .cover1 {
        transform-origin: 100% 100%;
    }

    body .base.close .section .cover1,
    body .base.close .section .cover1 .cover2,
    body .base.close .section .cover1 .cover2 .content {
        position: absolute;
        width: 600px;
        height: 600px;
    }

    body .base.close .section .cover1,
    body .base.close .section .cover1 .cover2 {
        top: 50%;
        left: 50%;
        transform: translate(-100%, -100%) rotate(16deg);
        overflow: hidden;
        transition: transform 0.5s ease-in 0.5s;
    }

    body .base.close .section .cover1 .cover2 {
        transform: translate(50%, -50%) rotate(-32deg);
        transform-origin: 0% 100%;
    }

    body .base.close .section .cover1 .cover2 .content {
        border-radius: 100%;
        top: 100%;
        left: 0%;
        transform: translate(-50%, -50%);
        transition: background-color 0s, width 1.1s cubic-bezier(0.5, 0, 0.05, 1.75) 0.25s, height 1.1s cubic-bezier(0.5, 0, 0.05, 2) 0.25s;
        background-color: #ffd966;
    }

    body .base.close .section-static {
        width: 300px;
        height: 300px;
        transition: width 1.25s cubic-bezier(0.5, 0, 0.05, 2), height 1.25s cubic-bezier(0.5, 0, 0.05, 2);
    }
}